/*Global Styles*/
.brb-board{
	width: 100%;
}
.brb-board img{
	margin: auto;
    width: 50%;
    padding-top: 10em;
}

.brb-ball{
	position: absolute;
    bottom: 8px;
    right: auto;
	margin:auto;
	text-align:center;
	width:100%;
}
.brb-ball img{
	width: 27%;
    margin: auto;
}
.brb-board{
    position: relative;
    -webkit-animation: myfirst 5s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    animation: myfirst 5s infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {left: 40%; top: 25%;}
    25%  {left: 40%; top: 25%;}
    100% {left: -40%; top: 25%;}
}

@keyframes myfirst {
    0%   {left: 40%; top: 25%;}
    25%  {left: 40%; top: 25%;}
    100% {left: -40%; top: 25%;}
}

